#contents {
	width: 90%;
	min-width: 640px;
	margin: 0 auto;
	background-color: #ffffff;
	display: flex ;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	box-pack: justify;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	-o-box-pack: justify;
	-ms-box-pack: justify;	
} 
.elements {
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	display: block;
}