
<div id="contents">


  <div class="elements"><button mat-raised-button  color="primary" (click)="onClickShift()">シフト表</button></div>
    <div class="elements"><button mat-raised-button  color="primary" (click)="onClickItiran()">従業員一覧</button></div>
      <div class="elements"><button mat-raised-button  color="primary"  (click)="onClickEmpUpt()">従業員登録</button></div>



        <div class="elements"><button mat-raised-button  color="primary"  (click)="onClickSift()">〇〇〇〇</button></div>
          <div class="elements"><button mat-raised-button  color="primary"  (click)="onClickSift()">〇〇〇〇</button></div>
            <div class="elements"><button mat-raised-button  color="primary"  (click)="onClickSift()">〇〇〇〇</button></div>


</div>

